<a href="https://colab.research.google.com/github/ria3999/mahine_learning-codes/blob/master/credit_risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import os
import warnings

In [3]:
DeprecationWarning('ignore')
warnings.filterwarnings('ignore',message="unwanted errors")

In [10]:
df=pd.read_csv('/content/credit_risk modelling.csv')

In [11]:
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [12]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [13]:
df=df.drop('Loan_ID',axis=1)

In [15]:
mode_Gender=df.Gender.mode()[0]
df['Gender'].fillna(mode_Gender,inplace=True)
mean_LoanAmount=df.LoanAmount.mean()
df['LoanAmount'].fillna(mean_LoanAmount,inplace=True)
mode_Credit_History=df.Credit_History.mode()[0]
df['Credit_History'].fillna(mode_Credit_History,inplace=True)
df['Loan_Amount_Term'].fillna(0,inplace=True)
df['Self_Employed'].fillna('No',inplace=True)
df['Married'].fillna('Yes',inplace=True)
df['Dependents'].fillna('0',inplace=True)
df['Loan_Status'].fillna('Y',inplace=True)

In [16]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
df['Married']=label.fit_transform(df['Married'])
df['Education']=label.fit_transform(df['Education'])
df['Self_Employed']=label.fit_transform(df['Self_Employed'])
df['Property_Area']=label.fit_transform(df['Property_Area'])
df['Loan_Status']=label.fit_transform(df['Loan_Status'])
df['Gender']=label.fit_transform(df['Gender'])
df['Dependents']=label.fit_transform(df['Dependents'])

In [18]:
X,Y=train_test_split(df,test_size=0.2,random_state=17)

In [19]:
def x_and_y (cf):
 X=cf.drop(['Loan_Status'],axis=1)
 Y=cf['Loan_Status']
 return X,Y

In [20]:
X_train,Y_train=x_and_y(X)
X_test,Y_test=x_and_y(Y)

In [21]:
from sklearn.tree import DecisionTreeClassifier
dru=DecisionTreeClassifier(max_depth=4,criterion="gini",random_state=0)

In [22]:
dru.fit(X_train,Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [23]:
prediction=dru.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(score)

0.8130081300813008

In [24]:
from sklearn.model_selection import cross_val_score
cv=cross_val_score(dru,X_train,Y_train,cv=12)
print(cv.mean())

0.796189024390244

In [26]:
from sklearn.metrics import precision_score,recall_score
from sklearn.metrics import confusion_matrix

In [27]:
confusion_matrix(Y_test,prediction)

array([[18, 19],
       [ 4, 82]])

In [28]:
recall=recall_score(Y_test,prediction)

In [29]:
precision=precision_score(Y_test,prediction)

In [30]:
recall

0.9534883720930233

In [31]:
precision

0.8118811881188119