<a href="https://colab.research.google.com/github/ria3999/mahine_learning-codes/blob/master/red_wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
import warnings
from sklearn.metrics import accuracy_score

In [46]:
DeprecationWarning('ignore')
warnings.filterwarnings('ignore',message="unwanted errors")

In [47]:
df=pd.read_csv('winequality-red.csv')

In [48]:
def cleaning(df):
  bins1=[3,5,6,8]
  label=['poor','better','best']
  df['quality']=pd.cut(df['quality'],bins=bins1,labels=label,include_lowest=True,right=True)
  bins2=[2,3,4,5]
  label2=['low','med','high']
  df['pH']=pd.cut(df['pH'],bins=bins2,right=True,labels=label2,include_lowest=True)
  return df

In [49]:
df=cleaning(df)

In [50]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4     poor
1            7.8              0.88         0.00  ...       0.68      9.8     poor
2            7.8              0.76         0.04  ...       0.65      9.8     poor
3           11.2              0.28         0.56  ...       0.58      9.8   better
4            7.4              0.70         0.00  ...       0.56      9.4     poor

[5 rows x 12 columns]

In [51]:
X,Y=train_test_split(df,test_size=0.2,random_state=12)

In [52]:
def x_and_y (cf):
    X=cf.drop(['quality'],axis=1)
    Y=cf['quality']
    return X,Y

In [53]:
X_train,Y_train=x_and_y(X)
X_test,Y_test=x_and_y(Y)

In [54]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [55]:
def encoding(df):
  df['pH']=label.fit_transform(df['pH'])
  return df

In [57]:
X_train=encoding(X_train)
X_test=encoding(X_test)

In [61]:
Y_test.head()

1130    better
1526    better
1064    better
673       poor
245     better
Name: quality, dtype: category
Categories (3, object): ['poor' < 'better' < 'best']

In [72]:
Y_train=pd.Series.to_frame(Y_train)

In [74]:
Y_train['quality']=label.fit_transform(Y_train['quality'])
Y_test['quality']=label.fit_transform(Y_train['quality'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [75]:
X_train.head()

      fixed acidity  volatile acidity  citric acid  ...  pH  sulphates  alcohol
1326            6.7             0.460         0.24  ...   2       0.60     10.6
436             8.0             0.670         0.30  ...   2       0.56     10.2
188             7.9             0.500         0.33  ...   2       0.55      9.5
1034            8.9             0.745         0.18  ...   2       0.47      9.7
1413            9.9             0.570         0.25  ...   2       0.90     10.1

[5 rows x 11 columns]

In [76]:
from sklearn.tree import DecisionTreeClassifier

In [77]:

dcs=DecisionTreeClassifier(criterion='entropy',min_samples_leaf=5,max_leaf_nodes=64,max_depth=5)
dcs.fit(X_train,Y_train)
prediction=dcs.predict(X_train)
score=accuracy_score(Y_train,prediction)
print(score)

0.6903831118060985

In [78]:
from sklearn.ensemble import RandomForestClassifier
result=RandomForestClassifier(criterion='entropy',min_samples_leaf=5,max_leaf_nodes=64,max_depth=5)
result.fit(X_train,Y_train)
pre=result.predict(X_train)
score1=accuracy_score(Y_train,pre)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [79]:
score1

0.7224394057857702

In [80]:
from sklearn.model_selection import cross_val_score
cv=cross_val_score(dcs,X_train,Y_train,cv=5)
print(cv.mean())

0.6051470588235295